/* === COLORS ======================================================================= */
/*
	modal Black w/ opacity	rgba(0,0,0,0.4)
	
	Black					#FFF
	White					#000
	
	.loginbtn green			#4CAF50
	.cancelbtn red			#f44336
	
	Dark Grey				#3D3F45
	Light Grey				#E5E5E5
	
	Red						red
	Blue					dodgerblue	
*/

/* === HTML-TAGS ======================================================================= */

	* {
		box-sizing: 		border-box;
	}
	
	body {
		margin: 			0px;
		font-family: 		'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
		font-size: 			16px;
	}

	h2 {
		text-align: 		center;
	}

	section {
		display: 			none;
		animation: 			myFadeIn 0.75s;
	}
	

/* === SINGLE ID'S AND CLASSES ======================================================================= */
	
	.active {
		background-color: 	#E5E5E5;
		height: 			100%;
		padding: 			1rem;
		top: 				0;
	}
	.active {
		color:				#3D3F45 !important;
	}
	
	.main {
		text-align: 		left;
		z-index:			0;
		width: 				50%;
		margin: 			3% auto;
		border:				2px solid #3D3F45;
	}
	.main > h2 {
		text-align: 		center;
		padding-left: 		.5rem;
	}
	.main > p {
		text-align: 		left;
		padding-left: 		.5rem;
	}
	
	#index-main {
		margin-top:			0;
		text-align:			center;
		z-index:			0;
	}
	
	#index-main table {
		margin: 			0 auto 0 auto;
	}

	#contact-main {
		text-align: 		center;
		z-index:			0;
		width: 				50%;
		margin: 			3% auto;
		border:				2px solid #3D3F45;
	}
	
	.right {
		right: 				0.5rem;
		position: 			absolute;
		top: 				0;
	}
	.right#aregisterform {
		right: 				6rem;
		position: 			absolute;
		top: 				0;
	}
	.right#account {
		right: 				6rem;
		position: 			absolute;
		top: 				0;
	}

	#terms {
		text-align: 		center;
		margin-bottom: 		0.5rem;
	}

	#labelremember {
		padding-left:		42%;
	}
	
	/* The "Forgot password" text */
	p.psw {
		text-align:			center;
	}

	hr {
		margin-bottom: 		0;
	}
	table {
		padding:			1rem;
	}
	td {
		padding-right:		1rem;
		vertical-align: 	top;
	}


/* === TOP-NAVIGATION ======================================================================= */

	#topnav {
		z-index: 			10;
		left: 				0;
		top: 				0;
		position: 			fixed; /* important for z-index */
		background-color: 	#3D3F45;
		width: 				100%;
	}

	#topnav > ul {
		display: 			flex;
		list-style-type:	none;
		padding-left: 		0;
	}

	#topnav > ul > li {
		margin-left: 		.5rem;
	}
	
	#topnav > ul > li > a {
		color: 				#FFF;
		text-decoration: 	none;
		padding: 			1rem;
	}
	#topnav > ul > li > a:link {
		color: 				#FFF;
	}
	#topnav > ul > li > a:hover {
		background-color: 	#E5E5E5;
		padding: 			1rem;
		margin: 			0;
		color:				#3D3F45;
	}
	#topnav > ul > li > a:active {
		background-color: 	#E5E5E5;
	}

	
/* === FOOTER-NAVIGATION ======================================================================= */

	#footernav {
		z-index: 			10;
		left: 				0;
		bottom: 			0;
		position: 			fixed; /* important for z-index */
		background-color: 	#3D3F45;
		width: 				100%;
	}

	#footernav > ul {
		display: 			flex;
		list-style-type:	none;
		padding-left: 		0;
	}

	#footernav > ul > li {
		margin-left: 		.5rem;
	}
	
	#footernav > ul > li > a {
		color: 				#FFF;
		text-decoration: 	none;
		padding: 			1rem;
	}
	#footernav > ul > li > a:link {
		color: 				#FFF;
	}
	#footernav > ul > li > a:hover {
		background-color: 	#E5E5E5;
		padding: 			1rem;
		margin: 			0;
		color:				#3D3F45;
	}
	#footernav > ul > li > a:active {
		background-color: 	#E5E5E5;
	}

	
/* === HEADER-BANNER ======================================================================= */
	
	.header-banner {
		background: url("../images/headerblog.jpg") no-repeat;
		width: 100%;
		height: 0;
			/* 
			hat keine Auswirkung auf das Bild 
			und muss ,zur weiteren Bearbeitung, 
			auf 0 gesetzt werden 
			*/
		padding-top: 20.83%; 
			/* 
			%-Angabe bei padding-top, 
			erzeugt das Bild in Abhängigkeit 
			zur Breite der Seite 
			*/
		background-size: contain;
			/*
			passt das Hintergrund-Bild
			an die Größe des Elements an
			*/
		margin-top: 50px;
		position: relative;
		z-index: 0;
	}
			/*
			Größe des Bildes:
			1920px x 400px

			1000px x ????? (208.3px)

			Wie viel % von 1920px sind 400px?

			400 / 1920 * 100 = 20.83%
			*/


/* === MODAL ======================================================================= */

	#modal {
		display: 			none;
		position: 			fixed; /* important for z-index */
		z-index: 			1;
		left: 				0;
		top: 				0;
		width: 				100%;
		height: 			100%;
		overflow: 			auto;
		background-color: 	rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	.modal-content {
		margin: 			1% auto auto auto; /* 5% from the top, 15% from the bottom and centered */
		border: 			1px solid #888;
		width: 				50%; /* Could be more or less, depending on screen size */
		z-index:			2;
		position: 			relative;
	}
	.modal-content a,
	.modal-content a:link, 
	.modal-content a:visited {
		color: 				dodgerblue;
		text-decoration:	none;
	}
	.modal-content a:hover {
		color: 				dodgerblue;
		text-decoration:	underline;
	}

/* === CLOSE-MODAL-BUTTON ======================================= */

	.close {
	  /* Position it in the top right corner of the forms */
	  position: 			absolute;
	  right: 				10px;
	  top: 					-10px;
	  color: 				#000;
	  font-size: 			3rem;
	  font-weight: 			bold;
	  z-index: 				3;
	}
	.close:hover,
	.close:focus {
	  color: 				red;
	  cursor: 				pointer;
	}
	
/* === DELETE-POST-BUTTON ======================================================================= */

	.del-post,
	.del-post:visited {
	  /* Position it in the top right corner outside of the modal */
	  position: 			absolute;
	  right: 				30rem;
	  color: 				dodgerblue;
	  font-size: 			1rem;
	  font-weight: 			bold;
	  text-decoration:		none;
	}
	.del-post:hover,
	.del-post:focus,
	.del-post:active {
	  color: 				red;
	  cursor: 				pointer;
	}

/* === ANIMATION ======================================================================= */

	@keyframes myFadeIn {
		from {
			transform: 		scale(0);
		}
		to {
			transform: 		scale(1);
		}
	}


/* === DIV-CONTAINER ======================================================================= */
 
	.input-container {
		display: 			flex;
		width: 				100%;
		margin-bottom: 		15px;
	}
	
	.input-container-account {
	  	width: 				100%;
	  	margin-bottom: 		15px;
	}
	
	.container {
	  	padding: 			16px;
	}
	.container-acc {
		padding: 			0;
	}

	.icon {
	  padding: 				10px;
	  background: 			dodgerblue;
	  color: 				white;
	  min-width: 			50px;
	  text-align: 			center;
	}


/* === FORM ======================================================================= */
 
	form {
		padding: 			1.5em;
		background-color:	#E5E5E5;
	}

/* === FORM-FIELDS ================================================== */

	.input-field {
		width: 				100%;
		padding: 			10px;
		outline: 			none;
	}	
	.input-field:focus {
		border: 			2px solid dodgerblue;
	}

	.input-field-acc {
		width: 				100%;
		padding: 			10px;
		margin-left:		2rem;
		outline: 			none;
		position:			relative;
	}

	#registerform-home {
		z-index: 			2;
		position: 			absolute; /* important for z-index */
		width:				100%;
		min-width:			50rem;
		height:				80%;
		margin-top:			2rem;
	}
	#loginform-home {
		z-index: 			3;
		position: 			absolute; /* important for z-index */
		width:				100%;
		min-width:			50rem;
		height:				80%;
		margin-top:			2rem;
	}
	#forgotform-home {
		z-index: 			4;
		position: 			absolute; /* important for z-index */
		width:				100%;
		min-width:			50rem;
		height:				80%;
		margin-top:			2rem;
	}
	
	#registerform {
		z-index: 			2;
		position: 			absolute; /* important for z-index */
		width:				100%;
		min-width:			50rem;
		height:				80%;
		margin-top:			2rem;
	}
	#loginform {
		z-index: 			3;
		position: 			absolute; /* important for z-index */
		width:				100%;
		min-width:			50rem;
		height:				80%;
		margin-top:			2rem;
	}
	#forgotform {
		z-index: 			4;
		position: 			absolute; /* important for z-index */
		width:				100%;
		min-width:			50rem;
		height:				80%;
		margin-top:			2rem;
	}


/* === FORM-BUTTONS ================================================== */

	button {
		color: 				white;
		padding: 			14px 20px;
		margin: 			8px 0;
		border: 			none;
		cursor: 			pointer;
		width: 				100%;
	}
	button:hover {
	  opacity: 				0.8;
	}
	
	.registerbtn {
		background-color: 	dodgerblue;
		color: 				white;
		padding: 			15px 20px;
		border: 			none;
		cursor: 			pointer;
		width: 				100%;
		opacity: 			0.9;
	}
	.registerbtn:hover {
		opacity: 			1;
	}
	
	.loginbtn {
		background-color: 	#4CAF50;
		margin: 			1rem auto;
	}
	
	.cancelbtn {
		width: 				100%;
		background-color: 	#f44336;
	}


/* === AVATAR ======================================================================= */
 
	.imgcontainer {
	  text-align: 			center;
	  margin: 				24px 0 12px 0;
	}
	img.avatar {
	  width: 				20%;
	  border-radius: 		50%;
	}


/* === MEDIA-QUERY over VIEWPORT ======================================================================= */

	@media screen and (max-width: 1124px) {
		.del-post {
			position:			absolute;
			right:				2rem;
		}
		
		.main {
			width:				95%;
			margin-top:			2.5rem;
			margin-bottom:		4rem;			
		}
	}

	@media screen and (max-width: 800px) {
		p.psw {
			display: 			block;
			float: 				none;
			margin-left:		0;
			text-align:			center;
		}
		.cancelbtn {
			width: 				100%;
		}
		.modal-content {
			border: 			1px solid #888;
			width: 				100%; /* Could be more or less, depending on screen size */
			z-index:			3;
			position: 			relative;	
		}
		
		.main {
			width:				95%;
			margin-top:			2.5rem;
			margin-bottom:		4rem;			
		}
		
		#contact-main {
			width:				95%;
			margin-top:			2.5rem;
			margin-bottom:		4rem;
		}
		
		#registerform-home {
			min-width:			0;
			margin:				0;
		}
		#loginform-home {
			min-width:			0;
			margin:				0;
		}
		#forgotform-home {
			min-width:			0;
			margin:				0;
		}
		
		#registerform {
			min-width:			0;
			margin-top:			2.5rem;
		}
		#loginform {
			min-width:			0;
			margin-top:			2.5rem;
		}
		#forgotform {
			min-width:			0;
			margin-top:			2.5rem;
		}
		
		#labelremember {
			padding-left:		40%;
		}
		
		.del-post {
			position: 			absolute;
			right: 				1.5rem;

		}
	}

/* 
GALAXY S9/S9+ (width: 360px)
IPHONE 6/7/8
	
	@media screen and (max-width: 414px) {
		.del-post {
			position: 			absolute;
			right: 				1rem;
		}
		
		#labelremember {
			padding-left:		30%;
		}
	}

